<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.diets.weightloss">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!--optional-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!--optional-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!--optional-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!--optional-->
    <uses-permission android:name="android.permission.VIBRATE" /><!--optional-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!--optional-->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_APP_BADGE" />
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" />
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />

    <application
        android:name="com.diets.weightloss.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--<activity
            android:name="com.diets.weightloss.SplashActivity"
            android:theme="@style/Theme.AppCompat.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->



        <activity
            android:name=".presentation.history.HistoryListDietsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.diets.weightloss.presentation.onboarding.OnboardActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.diets.weightloss.presentation.tracker.LoadingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.diets.weightloss.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name="com.diets.weightloss.presentation.history.HistoryDietActivity"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar"
            />


        <!--<activity
            android:name="com.diets.weightloss.presentation.history.HistoryListDietsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />-->

        <activity
            android:name=".presentation.premium.PremiumHostActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.diets.weightloss.presentation.water.statistics.StatActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".presentation.water.notifications.NotificationSettingActivity"
            android:theme="@style/NotifSettings" />

        <activity
            android:name="com.diets.weightloss.utils.res.TextCutActvity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.diets.weightloss.presentation.profile.favorites.FavoritesActivity"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name="com.diets.weightloss.presentation.profile.language.ChoiceLangActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.diets.weightloss.presentation.diets.list.old.inside.ActivityListItems"
            android:theme="@style/NewDiets"/>

        <activity
            android:name="com.diets.weightloss.presentation.diets.list.old.OldDietsActivity"
            android:theme="@style/NewDiets"/>

        <activity android:name="com.diets.weightloss.presentation.diets.list.old.inside.article.ActivityArticle"/>

        <activity
            android:name="com.diets.weightloss.presentation.calculators.ActivityCalculatorSPK"
            android:theme="@style/NewDiets"/>

        <activity
            android:name="com.diets.weightloss.presentation.calculators.ActivityCalculatorBrok"
            android:theme="@style/NewDiets"/>

        <activity
            android:name="com.diets.weightloss.presentation.calculators.ActivityCalculatorIMT"
            android:theme="@style/NewDiets"/>

        <activity
            android:name="com.diets.weightloss.presentation.calculators.ActivityCalculatorLorenc"
            android:theme="@style/NewDiets"/>

        <activity
            android:name="com.diets.weightloss.presentation.diets.list.modern.article.DietAct"
            android:theme="@style/NewDiets"/>

        <activity
            android:name="com.diets.weightloss.presentation.diets.list.modern.NewDietsListActivity"
            android:theme="@style/NewDiets"/>

        <activity
            android:name="com.diets.weightloss.presentation.profile.measurments.MeasActivity"
            android:theme="@style/MeasActivity" />

        <service
            android:name="com.diets.weightloss.utils.notif.services.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_key" />


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_small_notification" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".SplashActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/authorise_file_provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>

    </application>

</manifest>